<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PROJECT_NAME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <ul id="user-details" class="dropdown-content">
      <li><%= link_to 'Změnit heslo', {controller: 'users', action: 'edit_own_password'} , :tabindex => -1 %></li>
      <li class="divider"></li>
      <li><%= link_to 'Odhlásit', destroy_user_session_path, :method => :delete %></li>
    </ul>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <%= menu_item 'example', '#', /example(?!new)/  %>
          <li><a class="dropdown-trigger" href="#!" data-target="user-details">
            Přihlášen: <%= current_user.display_name %><i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>

  <div class="container container-large content">
    <%= yield %>
  </div>

  <%= javascript_tag do %>
    window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
  <% end %>
</body>
</html>
